#about{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .about-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    img{
        max-width: 50%;
    }
    .info{
        font-size: 2em;
        text-align: left;
        display: block;
        margin: 0 auto;
        width: 75%;
        margin-top: 50px;
        p:nth-last-of-type(1){
            margin-top: 25px;
        }
    }
    h1{
        width: 100%;
    }
}

@media screen and (min-width: 1000px){
    #about .info{
        width: 50%;
        margin-top: 100px;
        p:nth-last-of-type(1){
            margin-top: 50px;
        }
    }
}